<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <!-- Bootstrap CSS -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="news_style.css">
    <link href="{{ url_for('static', filename='vendor/aos/aos.css"') }} rel="stylesheet">
    <link href="{{ url_for('static', filename='vendor/bootstrap/css/bootstrap.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='vendor/bootstrap-icons/bootstrap-icons.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='vendor/glightbox/css/glightbox.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='vendor/remixicon/remixicon.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='vendor/swiper/swiper-bundle.min.css') }}" rel="stylesheet">
  
    <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet">
  
    <style>
      .red {
        color: red;
      }
      .green {
        color: #16FB16;
      }
      .yellow {
        color: yellow;
      }
    </style>
    <title>Stockbeez | Semantic Tools</title>
  </head>
{% extends "layout.html" %}

{% block body %}

    <center>
      <div class="col-lg-8" style="margin-top: 142px; margin-bottom: 42px">
        <h3>Note: It takes a while for the data to be analyzed. Kindly wait for a minute or two.</h3>
        <form action="{{ url_for('get_sentiment_page') }}" method="post">
          <input class="form-control me-2 input my-3" type="search" placeholder="Enter ticker of company" style="margin-left: 10px;border-color: blue;" autofocus = True name="ticker">
            <!--<input class="form-control me-2 input" type="search" placeholder="Enter corresponding company name" style="margin-left: 10px;border-color: blue;" autofocus = True name="name">-->
          <button class="btn btn-outline-primary" type="submit" style="margin-top: 10px;padding-left: 42px; padding-right: 42px;">Get Sentiment</button>
        </form>
      </div>
    </center>

    <!--{% if name %}-->
    <!--<h1 class="text-center mt-4 mb-5 my-3" style="padding-top:80px; margin-bottom: 42px">Latest News Headlines</h1>-->
    <!--<div class="row mt-5">-->
    <!--  <div class="col-md-2"></div>-->
    <!--  <div class="col-md-8">-->
    <!--    <div class="row">-->
    <!--      {% for i in range(length) %}-->
    <!--        {% set news=news_articles[i] %}-->
    <!--        {% set headline=formatted[i][0] %}-->
    <!--        {% set color=formatted[i][1] %}-->
    <!--      <div class="col-md-4 mb-5 d-flex align-items-stretch">-->
    <!--        <div class="card" style="width: 18rem">-->
              <!-- <img src="{{ news.urlToImage }}" class="card-img-top" alt="..." /> -->
    <!--          <div class="card-body">-->
    <!--            <h5 class="card-title {{ color }}">{{ headline }}</h5>-->
    <!--            <p class="card-text">{{ news.description }}</p>-->
    <!--            <a href="{{ news.url }}" class="btn btn-primary"><span>Read More</span></a>-->
    <!--          </div>-->
    <!--        </div>-->
    <!--      </div>-->
    <!--      {% endfor %}-->
    <!--    </div>-->
    <!--  </div>-->
    <!--  <div class="col-md-2"></div>-->
    <!--</div>-->
    <!--{% endif %}-->
    
    {% if truth %}
        <center>
            <div class="container">
                <h3 style="text-decoration: underline">Past 10 year Data</h3>
                <img src="{{url_for('static', filename = url ) }}"/>
            </div>
        </center>
        <center>
            <div class="container">
                <h3 style="text-decoration: underline">Twitter Analysis</h3>
                <img src="{{url_for('static', filename = url_tweet ) }}"/>
            </div>
        </center>
    {% endif %}
    <!-- Bootstrap Bundle with Popper -->
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
      crossorigin="anonymous"
    ></script>
    
  <!-- Vendor JS Files -->
<!--  <script src="{{ url_for('static', filename='vendor/purecounter/purecounter.js') }}"></script>-->
  <script src="{{ url_for('static', filename='vendor/aos/aos.js') }}"></script>
  <script src="{{ url_for('static', filename='vendor/bootstrap/js/bootstrap.bundle.min.js') }}"></script>
  <script src="{{ url_for('static', filename='vendor/glightbox/js/glightbox.min.js') }}"></script>
  <script src="{{ url_for('static', filename='vendor/isotope-layout/isotope.pkgd.min.js') }}"></script>
<!--  <script src="{{ url_for('static', filename='vendor/swiper/swiper-bundle.min.js') }}"></script>-->
  <script src="{{ url_for('static', filename='vendor/php-email-form/validate.js') }}"></script>

  <!-- Template Main JS File -->
  <script src="{{ url_for('static', filename='js/main.js') }}"></script>

</body>
</html>
{% endblock %}
